*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}
:root {
    --primary-color: #F7941E;

    --text-black: #000000;
    --text-white: #ffffff;

    --primary-font: 'Poppins', sans-serif;;

}
/* section{
    padding: 50px 0;
} */

.main-btn {
    display: inline-block;
    border-radius: 5px;
    transition: .2s;
    padding: 10px 37px;
    background-color: transparent;
    color: var(--primary-color);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 17px;
    text-decoration: none;
    border: 1px solid var(--primary-color);
}

.main-btn:hover{
    background-color: var(--primary-color);
    color: var(--text-white);
}

h1{
    font-size: 56px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom: 16px;    
}

h2{
    font-size: 35px;
    line-height: 64px;
    font-family: var(--primary-font);
    font-weight: 400;
    color: var(--text-blue);
    margin-bottom: 15px;
    letter-spacing: 0;
}

h3{
    font-size: 20px;
    font-family: var(--primary-font);
    font-weight: 700;
    color: var(--text-blue);
    margin-bottom: 15px;
    letter-spacing: 0;
}
p{
    color: var(--text-black);
    font-size: 15px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
}

button{
    border-color: var(--primary-color) !important;
    outline: none !important;
    box-shadow:none !important;
}
/* navbar */

/* navbar */
.header-wrapper .navbar{
    transition: all .2s linear;
}
.header-wrapper .navbar-brand img{
    max-width: 150px;
    max-height: auto;
}
.header-wrapper .navbar-toggler{
    border: 0;
}

.header-wrapper .nav-item{
    margin: 0 10px;
}
.header-wrapper .nav-item .nav-link{
    font-size: 17px;
    font-weight: 400;
    color: var(--text-black);
    font-family: var(--primary-font);
    text-transform: uppercase;
    
}
.header-wrapper .nav-item .nav-link.active{
    color: var(--primary-color);
}
/* banner */
.banner{
    background-color: #F1F1F2;
}
.banner_left{
    width: 400px;
    margin: auto;
}
/* about */
.about{
    background-color: #F1F1F2;
}
.about-left{
    width: 500px;
    margin: auto;
    padding-bottom: 20px;
}
/* services */
.services_wrapper{
    padding: 50px 0;
}
.services-text{
    text-align: center;
}
.services_wrapper .card-body{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.services_wrapper .text-card{
    text-align: start;
}
.services_wrapper .text-card a{
    text-decoration: none;
    color: black;
}
/* blog */
.btnletter{
    /* width: 100%; */
    margin: auto;
}
.blog_wrapper .newsletter_wrapper{
    background-color: var(--primary-color);
}
.btn-black {
    display: inline-block;
    border-radius: 5px;
    transition: .2s;
    padding: 10px 37px;
    background-color: black;
    color: var(--text-white);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 17px;
    text-decoration: none;
    border: 1px solid black !important;
}

.btn-black:hover{
    background-color: transparent;
    color: var(--text-black);
}

.btn-white {
    display: inline-block;
    border-radius: 5px;
    transition: .2s;
    padding: 10px 37px;
    background-color: transparent;
    color: var(--text-black);
    font-weight: 700;
    font-family: var(--primary-font);
    font-size: 17px;
    text-decoration: none;
    border: 1px solid black !important;
}

.btn-white:hover{
    background-color: var(--text-black);
    color: var(--text-white);
}
.media{
    display: flex;
    background-color: black;
}
.b-b-text{
    width: 630px;
    margin: auto;
    color: var(--text-white);
}
.b-b-text p{
    color: var(--text-white);
}
.bolg_wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px 0px;
    gap: 10px;
}
.bolg-text a{
    text-decoration: none;
}

.bolg-text{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 40px 20px;
}
.bolg-text:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.icon{
    font-size: 30px;
    text-align: center;
    padding: 50px 0px;
}
.icon i{
    margin: 0px 10px;
}
.end{
    text-align: center;
}
.end a{
    color: black;
    text-decoration: none;
}












@media (max-width:1400px) {
   
    
}

@media (max-width:1230px) {
    
    
}

@media (max-width:991px) {
    /* section{
        padding: 20px 0;
    } */
    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
        line-height: 40px;
    }
    h3{
        font-size: 20px;
    }
    .header-wrapper .menu-navbar-nav{
        text-align: center;
        background-color: var(--bg-white);
    }
    .header-wrapper .nav-item .nav-link{
        margin-top: 15px;
    }
    .blog-soto{
        display: grid !important;
        align-items: center;
    }
    .media{
        display: grid;
        background: transparent;
        text-align: center;
        align-items: center;
    }
    .media img{
        text-align: center;
        height: auto;
        width: 100%;
    }
    .b-b-text{
        color: black;
        width: 100%;
        text-align: center;
        margin: auto;
    }
    .b-b-text p{
        color: black;
    }
    .b-b-img img{
        height: auto;
        width: 100%;
    }
    .bolg_wrapper{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0px 40px;
    }
}

@media (max-width:767px) {
    h1{
        font-size: 30px;
    }
    h3{
        font-size: 22px;
    }
    p{
        font-size: 13px;
    }
    .main-btn{
        font-size: 13px;
    }
    .btnletter{
        display: grid !important;
        gap: 10px;
    }
}